@use 'hero.scss';
@use './componentes/infos-bar.scss';
@use './componentes/buttons.scss';

* { //Reset
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
  list-style: none;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  //Container para dispositivos mobile
  @media screen and (max-width: 640){
    .container {
      max-width: 80%;
    }
  }
//conatiner para notebooks
  @media screen and (max-width: 1024px) {
    .container {
      max-width: 90%;
    }
  }
}